
.container{
    border: 2px solid red;
}

.item{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    /* position:absolute; */
    position: static;
}

/* .item1{
    position: relative;
    top: 2rem;
    left: 2rem;
    bottom: 2rem;
    right: 2rem;
} */

.item3{
    position:fixed;
    bottom:0rem;
  right: 0rem;
}

.item1{
    background-color: darkmagenta;
    color: honeydew;
    width: 100%;
    position: sticky;
    top:0rem;
    right:0rem;
}