
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap'); 
        
                   Second method to define Font styles

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

h1{
    color:lightcoral;
    text-align:center;
}

/* @font-face {
    font-family: Roboto Slab;
    src: url("Font/RobotoSlab-VariableFont_wght.ttf");        One method to define fonts
} */


.box{
    color:darkblue;
    text-align: center;
    font-size: 35px;
    font-family: "Roboto Slab" , Arial, Helvetica, sans-serif;
    font-weight: bold;
    background:#7fffd4;
    border:3px solid firebrick;
    width: 200px;
    padding: 100px;
    margin: auto;
    margin-top: 50px;
}
/*
body{
     background:rgb(127,255, 212);   Represent color By rgb format

}*/