@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

table, th,td{
    border :1px solid black;
}

table{
    border-collapse: collapse;
}
th{
    background-color: #1b1c25;
    
}

tr:nth-child(odd){
    background-color: #1f4068;
}

tr:nth-child(even){
    background-color: #206a5d;
}

th, td{
    padding: 1rem;
    color:#ebecf1;
}